.contact__title {
  font-size: 44px;
  color: var(--gray);
  font-weight: 700;
  padding: 8px 0;
}

.contact-form {
  display: flex;
  flex: 1;
  flex-direction: column;
  row-gap: 20px;
  margin-bottom: 50px;
  min-width: 300px;

}

.contact-form > input{
  font-size: 17px;
  padding: 0.5em;
}

textarea{
  font-size: 17px;
  padding: 0.5em;
}

.contact-form button {
  align-self: flex-end;
  background-color: var(--blue);
  border: none;
  color: white;
  font-size: 20px;
  padding: 6px 12px;
  width: 200px;
}

.contact-form button:hover {
  filter: brightness(1.1);
}

.contact__container {
  display: flex;
  flex-flow: row wrap;
  column-gap: 20px;
  padding: 20px 0;
}

button:valid{
  cursor: pointer;
}

.contact-form button:disabled {
  background-color: var(--gray);
}

.contact-form button:disabled:hover {
  filter: none;
}

.error-message{
  color: red;
}

.valid {
  border-color: green;
}

.invalid {
  border-color: red;
}

.valid:focus-within{
  border-color: green;
}

.invalid:focus-within{
  border-color: red;
}

input{
  outline: none;
}

textarea{
  outline: none;
}
